.footer {
  border-top: 1px red solid;
  box-shadow: 7px 4px 20px #b9a4a4;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;

  .wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;
  }

  &__inner {
    font-family: cursive;
  }

  .social-list {
    display: flex;
    transition: all 0.3s;

    &__item {
      margin-right: 20px;
      &:hover {
        transition: all 0.3s;
        transform: scale(1.1);
      }
      &-img {
        width: 80px;
      }
    }
  }
}
